* {
	box-sizing: border-box;
}

.my-jumbo {
	background-color: #55ACEE;
	min-height: 100vh;
}

.container {
	color: white;
}

.container #country-name {
	color: black;
}

table tr>th, table tbody tr>th {
	width: 50%;
}